$theme-colors: (
  "primary": #9382e7,
  "secondary": #5c2751,
  /*"success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark */
);

$btn-link-color: #9382e7;
$btn-link-hover-color: #9382e7;

$form-check-input-checked-bg-color: #9382e7;
$form-check-input-checked-border-color: #9382e7;

$component-active-bg: #9382e7;
$link-color: #9382e7;

@import "../lib/bootstrap/scss/bootstrap";

.btn-primary {
  color: #ffffff; 
}

.form-control:focus {
  border-color: #9382e7;
  box-shadow: 0 0 0 0.2rem rgba(147, 130, 231, 0.25);
} 

#usrSidebar {
  height: 95vh;
  background-color: #ffffff;
  width: 280px;
}

.password-change {
  display: none;
}

span.character-counter {
  float: right;
  margin-top: 5px;
  font-size: 75%;
  color: #5c2751;
}